<%- include('../partials/header') %>

<h3>To-Dos as of <%= time %></h3>

<ul>
  <% skills.forEach(function(t) { %>
    <li>
      <form action="/skills/<%= t.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add To-Do</a>

  
<%- include('../partials/footer') %>
